
[access]
	inheritFrom = Kernel-Projects
[project]
	description = Owner: android-kernel-team@google.com
[access "^refs/heads/common-android[0-9]+-[0-9]+.[0-9]+-20[0-9][0-9]-(0[1-9]|1[0-2])(-.*)?"]
	label-Code-Review = -2..+2 group mdb/gki-release-gerrit-operator
	create = group mdb/gki-release-gerrit-operator
	label-Autosubmit = +0..+1 group mdb/gki-release-gerrit-operator
	label-Bypass-Presubmit = +0..+1 group mdb/gki-release-gerrit-operator
	label-Presubmit-Ready = -1..+1 group mdb/gki-release-gerrit-operator
[access "^refs/heads/common-android[0-9]+-[0-9]+.[0-9]+-arcvm"]
	label-Code-Review = -2..+2 group ARCVM Approvers
[access "refs/heads/arcvm12-5.10-gki-base"]
	label-Code-Review = -2..+2 group ARCVM Approvers
[access "^refs/heads/common-android1.*-.*-sp$"]
	create = group mdb/android-kernel-release
[access "refs/heads/common-android1.*-.*-desktop$"]
	label-Code-Review = -2..+2 group mdb/al-kernel-eng
